<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSV Processor Results</title>
</head>
<body>
    <p>CSV Processor</p>
    <a href="/">Click here to go back</a>
    <p>Operation Results:</p>
    <p><strong th:text="${result}"></strong></p>
</body>
</html>