<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>List of Users</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>NPI Number</th>
                <th>Email</th>
                <th>Telephone Number</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of usersList; let i = index">
                <td>{{i}}</td>
                <td>{{ row.firstName }}</td>
                <td>{{ row.lastName }}</td>
                <td>{{ row.username }}</td>
                <td>{{ row.npiNumber }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.telephone }}</td>
                <td>{{ row.address }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
