<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h4 class="mb-3">Create New User</h4>
      <form (ngSubmit)="onSave(templateForm)" #templateForm="ngForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" ngModel #firstName="ngModel" required>
            <div *ngIf="firstName.invalid"> 
              <p class="validationError">Please enter the first name.</p> 
            </div> 
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" ngModel #lastName="ngModel" required>
            <div *ngIf="lastName.invalid"> 
              <p class="validationError">Please enter the last name.</p> 
            </div> 
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" name="username" ngModel #username="ngModel" placeholder="Username" required>
            <div *ngIf="username.invalid"> 
              <p class="validationError">Please choose a unique and valid username.</p>
            </div> 
          </div>
        </div>
        <div class="mb-3">
          <label for="npiNumber">NPI Number </label>
          <input type="text" class="form-control" id="npiNumber" name="npiNumber" ngModel #npiNumber="ngModel" placeholder="1234567890" required minlength="10" maxlength="10">
          <div *ngIf="npiNumber.invalid"> 
            <p class="validationError">Please enter a valid NPI Number.</p>
          </div> 
        </div>

        <div class="mb-3">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" name="email" ngModel #email="ngModel" placeholder="you@example.com" required>
          <div *ngIf="email.invalid"> 
            <p class="validationError">Please enter a valid Email address.</p>
          </div> 
        </div>

        <div class="mb-3">
          <label for="telephone">Telephone Number</label>
          <input type="tel" class="form-control" id="telephone" name="telephone" ngModel #telephone="ngModel" placeholder="904-123-4567" required>
          <div *ngIf="telephone.invalid"> 
            <p class="validationError">Please enter a valid telephone number.</p>
          </div> 
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" name="address" ngModel #address="ngModel" placeholder="1234 Main St" required>
          <div *ngIf="address.invalid"> 
            <p class="validationError">Please enter a valid address.</p>
          </div> 
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="address2" name="address2" ngModel #address2="ngModel" placeholder="Apartment or suite">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" name="country" ngModel #country="ngModel" required>
              <option value="">Choose...</option>
              <option>Dominican Republic</option>
              <option>United States</option>
            </select>
            <div *ngIf="address.invalid"> 
              <p class="validationError">Select a country</p>
            </div> 
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="custom-select d-block w-100" id="state" name="state" ngModel #state="ngModel" required>
              <option value="">Choose...</option>
              <option>New York</option>
              <option>Florida</option>
              <option>Georgia</option>
              <option>California</option>
            </select>
            <div *ngIf="address.invalid"> 
              <p class="validationError">Select a state</p>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" name="zip" ngModel #zip="ngModel" required minlength="5" maxlength="5">
            <div *ngIf="address.invalid"> 
              <p class="validationError">Enter a valid zip code</p>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-md btn-block" type="submit">Save User</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
