<app-navbar></app-navbar>
<div class="container">
  <div class="starter-template">
      <h1>Availity User Registration</h1>
      <p class="lead">This is an example of a user registration form.<br> It is part of the Availity coding assesment</p>
  </div>
</div>
